// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
label {
    display: block;
}

.field {
    margin-bottom: 10px;
}

th {
    padding-bottom: 5px
}

td {
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px
}




